[submodule "node_modules/http-codec"]
	url = git@github.com:creationix/http-codec.git
	ref = refs/heads/master
	prefix = hymep3jc-1al653q
	path = node_modules/http-codec
[submodule "node_modules/bodec"]
	url = git@github.com:creationix/bodec.git
	ref = refs/heads/master
	prefix = hymespro-1wz1v5l
	path = node_modules/bodec
[submodule "node_modules/culvert"]
	url = git@github.com:creationix/culvert.git
	ref = refs/heads/master
	prefix = hymetrql-1dgpt06
	path = node_modules/culvert
[submodule "node_modules/gen-run"]
	url = git@github.com:creationix/gen-run.git
	ref = refs/heads/master
	prefix = hymg56bq-1vtsimo
	path = node_modules/gen-run
[submodule "node_modules/git-sha1"]
	url = git@github.com:creationix/git-sha1.git
	ref = refs/heads/master
	prefix = hymhsdhq-1ydqndv
	path = node_modules/git-sha1
[submodule "node_modules/websocket-codec"]
	url = git@github.com:creationix/websocket-codec.git
	ref = refs/heads/master
	prefix = hyntzjnj-1x1bl5k
	path = node_modules/websocket-codec
[submodule "node_modules/wheaty-cjs-bundler"]
	url = git@github.com:creationix/wheaty-cjs-bundler.git
	ref = refs/heads/master
	prefix = hynu9gm4-h2oixc
	path = node_modules/wheaty-cjs-bundler
[submodule "node_modules/tedit-regenerator"]
	url = git@github.com:creationix/tedit-regenerator.git
	ref = refs/heads/master
	prefix = hynu9nlk-15f7doy
	path = node_modules/tedit-regenerator
[submodule "node_modules/git-node-fs"]
	url = git@github.com:creationix/git-node-fs.git
	ref = refs/heads/master
	prefix = hynwxmwg-1qdnfie
	path = node_modules/git-node-fs
[submodule "node_modules/js-git"]
	url = git@github.com:creationix/js-git.git
	ref = refs/heads/master
	prefix = hynwxrsf-m58jfo
	path = node_modules/js-git
[submodule "node_modules/pako"]
	url = git@github.com:nodeca/pako.git
	ref = refs/heads/master
	prefix = hynwy9x2-cchvdk
	path = node_modules/pako
[submodule "node_modules/pathjoin"]
	url = git@github.com:creationix/pathjoin.git
	ref = refs/heads/master
	prefix = hynwz1ho-c19oe9
	path = node_modules/pathjoin
[submodule "node_modules/codemirror"]
	url = git@github.com:marijnh/codemirror.git
	ref = refs/heads/master
	prefix = hyqd7qv0-cdtpnb
	path = node_modules/codemirror
[submodule "node_modules/cm-jackl-mode"]
	url = git@github.com:creationix/cm-jackl-mode.git
	ref = refs/heads/master
	prefix = hyqdaa6i-1qlfdfa
	path = node_modules/cm-jackl-mode
[submodule "node_modules/cm-notebook-theme"]
	url = git@github.com:creationix/cm-notebook-theme.git
	ref = refs/heads/master
	prefix = hyqdamuk-1ckem0k
	path = node_modules/cm-notebook-theme
[submodule "node_modules/domchanger"]
	url = git@github.com:creationix/domchanger.git
	ref = refs/heads/master
	prefix = hyqdfsva-4ix29h
	path = node_modules/domchanger
